:root{

    --warning-color: blue;
}

.post-box {
    margin: 0.5em;
    padding: 2em;
    border: 1px solid black;
    width: 75%;
}

.errorMsg {
    color: var(--warning-color);
    font-size: 1.5rem;
}