<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users and their Games</title>
</head>
<body>
    <div class="menu">
        <h1>Users and their Games</h1>
        <a href="/logout">Logout</a>
        <a href="/user/{{user.id}}/delete">Delete</a>
        <a href="/user/{{user.id}}/edit">Edit</a>
    </div>

    <div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum officiis voluptate in, dolorum id obcaecati modi, fuga minus sed cum dolor laboriosam! Optio eius voluptate eum officia laborum. Id, alias.</p>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
        {% endif %}
    {% endwith %}


    <form id="createGame">
        <div>
            <label for="name">Name of Game</label>
            <input type="text" name="name">
        </div>
        <button>Create Game</button>
    </form>

    <h2 id="test">All Games</h2>
    <table>
        <thead>
            <tr>
                <th>Game</th>
                <th>Likes</th>
                <th>User</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for game in all_games %}
            <tr>
                <td>{{game.name}}</td>
                <td>{{game.likes}}</td>
                <td>
                    <a href="/user/{{game.game_to_user.id}}">{{game.game_to_user.full_name()}}</a>
                </td>
                <td>
                    <a class="likeBtn" href="#" game_id="{{game.id}}">Like</a>
                    <a class="unlikeBtn" href="game/{{game.id}}/unlike">Unlike</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>
</html>